@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes upDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

.animate-bounce {
    animation: upDown 2s ease-in-out infinite;
}


.card_body{
    transition: all 0.3s;
}
.card_body:hover {
    transform: scale(1.08);
}